#info
  width: 98%
  background-color: $block_bg_color
  padding: 1%
  margin-bottom: 1%
  overflow: auto

  img
    float: left
    margin-right: 1%

  p
    margin-left: 15%

#sites
  float: left
  width: 66%
  margin-right: 1%
  overflow: auto

  .site
    float: left
    width: 25%
    margin-bottom: 1%
    
    &:hover
      .controls
        opacity: 1
      a.visible
        background-color: $site_hover_bg_color
        transition: .3s

    a.visible
      background-color: $block_bg_color
      text-decoration: none
      display: block
      text-align: center
      padding: 5%
      color: $main_txt_color
      font-size: 1.3em

      img
        width: 70%
        height: 70%

    .controls
      overflow: auto
      height: 20px
      opacity: 0
      padding-top: 1%

      .info, .articles, .github
        width: 32%
        height: 100%
        padding: .5%
        float: left
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        
      .articles
        background-image: url(http://icons.iconarchive.com/icons/rokey/seed/128/text-document-icon.png)
        text-align: left
        font-size: 0.8em
        text-decoration: none
        color: #000
      .info
        background-image: url(http://icons.iconarchive.com/icons/icojam/blueberry-basic/32/information-icon.png)

      .github
        background-image: url(http://nickbreen.ca/img/icons/github-mark.png)

#last_articles
  float: right
  width: 33%
  background-color: $block_bg_color
  font-size: 100%

  #last_articles_head
    height: auto
    background-color: $block_head_bg_color
    color: $block_head_text_color
    padding: 1%
    text-align: center

  .article
    margin-bottom: 1%
    padding: 2%

    &:nth-child(n)
      color: $main_txt_color + 100
    &:nth-child(2)
      color: $main_txt_color
    &:nth-child(3)
      color: $main_txt_color + 40
    &:nth-child(4)
      color: $main_txt_color + 80

div.ui-tooltip
  max-width: 600px

@media only screen and (max-width: 720px)
  #sites
    width: 100%
    float: none
    max-width: none
    min-width: none

    a.visible
      font-size: 1.1em

  #last_articles
    margin-top: 1%
    width: 100%
    float: none
    max-width: none
    min-width:none